<app-nav></app-nav>
<p class="text-center">Veuillez saisir le produit dont vous voulez voir les informations</p>

<div class="dropdown text-center margin-bottom-space" >
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
    aria-expanded="false">
    {{product.name}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li *ngFor="let item of products">
      <button class="dropdown-item" (click)="onSelectProduct(item)">{{item.name}}</button>
    </li>
  </ul>
</div>

<div id="infosProduct" class="card col-sm-6 d-flex p-2 container-fluid">
  <h1>Page d'affichage du produit</h1>
  <ul>
    <li>
      Nom : {{product.name}}
    </li>
    <li>
      Prix : {{product.price}} €
    </li>
    <li>
      Promotion : {{copyDiscount}} %
    </li>
    <li>
      Prix en promotion : {{salePrice}} €
    </li>
    <div class="margin-bottom-space" >
    <ul class ="container-fluid">
    <li class="raw">
      <div class="raw">
      <input type="number" class="col-xs-2 margin-bottom-space" id="newQuantity" placeholder="Ajouter Quantité"
        [(ngModel)]='newQuantity'>
      </div>
        <div class="raw">
        <button class="btn btn-success horizontal-space" (click)="addQuantity(product)">+</button>
        <button class="btn btn-danger " (click)="removeQuantity(product)">-</button>
      </div>
    </li>
  </ul>
</div>
    <li>
      <input type="number" class="col-xs-2 margin-bottom-space" id="newPromotion" placeholder="Nouvelle Promotion"
        [(ngModel)]='newPromotion'>
    </li>

    <li>
      <button class="btn btn-primary" (click)="onModifyPromotion(product);addSale(product)">ModifierPromotion</button>
    </li>
    <li>
      Quantité en stock : {{product.quantityInStock}}
    </li>
  </ul>
</div>
