<app-nav></app-nav>
<h1 class="text-center">Bateau Thibault</h1>

<div class="row justify-content-md-center">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Details Produit</h5>
                <hr class="solid">
                <p class="card-text">Afficher les details d'un produit</p>
                <a routerLink="/detailsProduit" class="btn btn-primary">Envoyer</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gérer les Produit</h5>
                <hr class="solid">
                <p class="card-text">Gérer tous les produits</p>
                <a routerLink="/manageStock" class="btn btn-primary">Envoyer</a>
            </div>
        </div>
    </div>
</div>